@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

/* HEADER */
.pf-top {
    top: 0;
    position: fixed;
    width: 100%;
}

nav {
    position: relative;
    display: flex;
    gap: 30px;
    background-color: #222327;
    padding: 15px 60px;
}

nav a {
    position: relative;
    color: #999;
    text-decoration: none;
    font-size: 1.5em;
    z-index: 2;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    transition: 0.5s;
}

nav a.active {
    color: blueviolet;
}

#indicator {
    position: absolute;
    height: 5px;
    background-color: #29fc63;
    z-index: 1;
    width: 0;
    transition: 0.5s;
}

#indicator::before, #indicator::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #29fc63;
    border-radius: 50%;
    transition: 0.5s;
}

#indicator::before {
    left: -30px;
}

#indicator::after {
    right: -30px;
}

#indicator.change::before {
    left: -10px;
}

#indicator.change::after {
    right: -10px;
}

/* UTILITARIOS */
.pt-20 {
    padding-top: 5rem;
}

.px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
}

